---
import ProjectCard from "./ProjectCard.astro";
import ProjectMobileCard from "./ProjectMobileCard.astro";
import imageOlimpo from "../assets/images/olimpo.png";
import imageBookList from "../assets/images/booksList01.png";
import imageTasksReact from "../assets/images/tasksReact.png";
import apiBooks from "../assets/images/apiBooks.png";
import appBooks from "../assets/images/appBooks.png";
---

<div
    id="projects"
    class="section bg-light-primary-2 dark:bg-dark-primary-2 px-4 sm:px-0"
>
    <div class="w-full max-w-4xl pb-10 pt-16 sm:w-[80%]">
        <h1 class="text-center mb-10 text-5xl">Proyectos</h1>
        <div class="containerProjects">
            <!-- Olimpo web -->
            <ProjectCard title="Gimnasio web" imageSrc={imageOlimpo}>
                Trabajo final para el grado de DAW que realicé junto con mi
                grupo. Se trata de una aplicación web full stack para la gestión
                de un gimnasio.
                <Fragment slot="icons">
                    <h2>Fronted:</h2>
                    <a
                        href="https://github.com/msebascp/OLIMPO-ANGULAR"
                        aria-label="linkGithub"
                        target="_blank"
                    >
                        <i
                            class="text-3xl fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                    <h2>Backend:</h2>
                    <a
                        href="https://github.com/msebascp/OLIMPO_LARAVEL"
                        aria-label="linkGithub"
                        target="_blank"
                    >
                        <i
                            class="text-3xl fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                </Fragment>
            </ProjectCard>
            <!-- Lista de libros -->
            <ProjectCard title="Lista de libros" imageSrc={imageBookList}>
                Aplicación web desarrollada con Angular que muestra una
                selección de libros de prueba desde un archivo JSON. Los libros
                se pueden añadir o eliminar de una lista de futuras lecturas.
                <Fragment slot="icons">
                    <a
                        href="https://github.com/msebascp/Books_list/"
                        aria-label="linkGithub"
                        target="_blank"
                    >
                        <i
                            class="text-3xl fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                    <a
                        href="https://msebascp.github.io/Books_list/"
                        aria-label="linkGithub"
                        target="_blank"
                    >
                        <i
                            class="text-2xl fa-solid fa-arrow-up-right-from-square hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                </Fragment>
            </ProjectCard>
            <!-- Tasks y login React -->
            <ProjectCard title="Tasks y login React" imageSrc={imageTasksReact}>
                Práctica de gestión de tareas con autenticación. Fronted con
                Vite y React, backend con NodeJS y Express, y MongoDB para la
                base de datos.
                <Fragment slot="icons">
                    <a
                        href="https://github.com/msebascp/Tasks_and_Authentication_REACT"
                        aria-label="linkGithub"
                        target="_blank"
                        class="flex items-center text-[2em] w-full place-content-center"
                    >
                        <i
                            class="fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                </Fragment>
            </ProjectCard>
            <ProjectCard title="Api Books" imageSrc={apiBooks}>
                Api de libros desarrolada con Laravel y MySQL.
                <Fragment slot="icons">
                    <a
                        href="https://github.com/msebascp/Api_books"
                        aria-label="linkGithub"
                        target="_blank"
                        class="flex items-center text-[2em] w-full place-content-center"
                    >
                        <i
                            class="fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                </Fragment>
            </ProjectCard>
            <ProjectMobileCard title="App de libros" imageSrc={appBooks}>
                App de libros desarrolada con Kotlin, Jetpack Compose y Android
                Studio. Inspirada en la aplicación letterboxd pero para libros.
                <Fragment slot="icons">
                    <a
                        href="https://github.com/msebascp/Books_app"
                        aria-label="linkGithub"
                        target="_blank"
                        class="flex items-center text-[2em] w-full place-content-center"
                    >
                        <i
                            class="fa-brands fa-square-github hover:text-light-hover dark:hover:text-dark-hover"
                        ></i>
                    </a>
                </Fragment>
            </ProjectMobileCard>
        </div>
    </div>
</div>

<style>
    .section {
        display: flex;
        justify-content: center;
    }
    /*Projects*/
    .containerProjects {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-evenly;
    }
    .cardProject {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 1px solid #f4eee0;
        text-wrap: balance;
    }
    .cardProjectTextContainerTitle {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        height: fit-content;
    }
    .cardProjectTextContainerIconsContainer {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
    }
    .cardProjectImageContainer {
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
        z-index: 1;
        border-radius: 15px;
        border-bottom: 1px solid rgb(121, 112, 112);
    }
    .cardProjectImageContainer img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .cardProjectImageContainer:hover .hoverImage {
        display: flex;
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
    }
    .hoverImage {
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        transition:
            opacity 0.3s,
            transform 0.3s;
        transform: scale(0);
        pointer-events: none;
        border-radius: 15px 15px 0 0;
    }
    .cardProjectTextContainerDescription {
        padding: 20px;
    }
    /*lg*/
    @media (min-width: 1024px) {
        /*Project*/
        .cardProject {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            border: 0px;
        }
        .cardProjectImageContainer {
            grid-row: 1 / 3;
        }
        .cardProjectImageContainer img {
            border-radius: 15px;
            border: 1px solid #f4eee0;
        }
        .hoverImage {
            border-radius: 15px;
        }
    }
</style>
